GDRIVE_FOLDER_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GDRIVE_TARGET_SERVICE_ACCOUNT="robot@project-id.iam.gserviceaccount.com"
TDP_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxxx.supabase.co"
SUPABASE_SECRET_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
START_DATE="20260101"
IGNORED_CLIENT_NUMBERS="1, 2, 9999"
